@font-face {
  src: url("/FitandFight/public/images/activites/Airstream.ttf") format("ttf");
    font-family:'test';
    font-style: normal;
  }



h1 
    {
        font:'test';
      
      }

footer {
    background-color: lightgrey;
}