{% extends 'base.html.twig' %}

{% block title %}Nos activités {% endblock %}

{% block body %}

<h1 class="text-center">Nos différentes activités sportives</h1>

<div class="container">
    <div class="row">
 {% for activite in activites %}
        <div class="col-md-4">
    <div class="card mb-4">
        {% if activite.filename %}
    <img src=" {{vich_uploader_asset(activite, 'imageFile') | imagine_filter('thumb') }}" alt="card-img-top">
        {% endif %}
    <div class="card-body">
       <div class="card-header">
      <a href="{{ path('activite.show', {id: activite.id, slug: activite.slug}) }}"> {{ activite.title }} </a>

        
           

</div>
    </div>
</div>

</div>
{% endfor %}
</div>








{% endblock %}