{% extends 'base.html.twig' %}


{% block title  %} Bienvenue sur le site de FitandFight {% endblock %}

{% block body %}

<div class="container">
<div class="row">
<div class="card mt-3">
<div class="card-body">
<p class="text-center">L'association Fit and Fight a été créée cette année à l'initiative de Maëlan CAMA.<br>
Nous avons débutés notre association à Mandray dans une salle des fêtes.<br>
Grâce à nos licenciés nous avons pu avoir l'opportunité de nous installer au centre de Saint-Dié dans notre propre salle comptant 4 encadrants tous
diplômés dans plusieurs disciplines d'arts martiaux comme le Kick-Boxing, le Muay Thaï, le MMA et le Cross-Training.<br>
<br>

La salle d'entrainement est situé au 8 rue des frères Simon à Saint-Dié.Nous l'avons équipés d'une partie d'entrainement avec tapis,sac de frappe,
structure de préparation physique et d'une autre partie musculation avec des postes de musculation et un accès libre de 8h00 à 22h00 via un badge d'accès.</p>

<p class="text-center"> Nous vous souhaitons une agréable visite sur notre site et n'hésitez pas à prendre contact pour toutes questions et à très bientôt.</p>

</div>
</div>
</div>
</div>


{% endblock %}